{% load static %}
<div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            {% for item in featured_product%}
            <div class="col-4">
                <a href="{% url 'product_details' item.id %}"><img src="{{item.image.url}}"></a>
                <h4>{{item.title}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>{{item.price}}</p>
            </div>
            {% endfor %}
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            {% for data in latest_product %}
            <div class="col-4">
                <a href="{% url 'product_details' data.id %}"><img src="{{data.image.url}}"></a>
                <h4>{{data.title}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>{{data.price}}}</p>
            </div>
            {% endfor %}
            
        </div>
       
    </div>